<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= book.price %>
  </p>

  <p>
    <strong>About:</strong>
    <%= book.about %>
  </p>
  <p>
    <strong>Athours:</strong>
    <%= book.athours_id %>
  </p>

</div>
